<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p>Description :</p>
<p><%= @user.description %></p>
<p><%= @user.email %></p>
<p>Age : <%= @user.age %></p>
<p>Ville: <%= link_to @user.city.name, city_path(@user.city), class: 'btn btn-secondary' %></p>
<% if @user == current_user %>
    <%= link_to 'Modifier mes informations', edit_user_path(@user), class: 'btn btn-danger' %>
<% end %>