<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<p>Description :</p>
<p><%= @user.description %></p>
<p><%= @user.email %></p>
<p>Age : <%= @user.age %></p>
<p>Ville: <%= link_to @user.city.name, city_path(user.city), class: 'btn btn-danger' %></p>