<h1>Nouveau Gossip</h1>

<%= form_tag(gossips_path) do %>
    <div class="mb-2">
        <%= label_tag(:title, nil, class: 'form-label') %><br>
        <%= text_field_tag(:title, nil, class: 'title form-control') %>
    </div>
    <div class="mb-2">
        <%= label_tag(:content, nil, class: 'form-label') %><br>
        <%= text_area_tag(:content, nil, class: 'content form-control') %>
    </div>
    <div>
        <%= submit_tag("Créer mon Gossip", class: 'btn btn-danger') %>
    </div>
<% end %>

<% if @gossip && @gossip.errors.any? %>
    <p>We couldn't create the gossip because:</p>
    <ul>
        <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>