<h1>Nouveau Gossip</h1>

<%= form_tag(gossips_path) do %>
    <p>
        <%= label_tag(:title) %><br>
        <%= text_field_tag(:title) %>
    </p>
    <p>
        <%= label_tag(:content) %><br>
        <%= text_area_tag(:content) %>
    </p>
    <p>
        <%= submit_tag("Créer mon Gossip") %>
    </p>
<% end %>

<% if @gossip && @gossip.errors.any? %>
    <p>We couldn't create the gossip because:</p>
    <ul>
        <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>
