<h1>Nouveau Gossip</h1>

<%= form_with model: @gossip, local: true do |form| %>
    <div class="mb-2">
        <%= form.label :title, "Titre du gossip", class: 'form-label' %><br>
        <%= form.text_field :title, placeholder: "Entre un titre (entre 3 et 14 caractères)", class: 'title form-control' %>
    </div>

    <div class="mb-2">
        <%= form.label :content, "Contenu", class: 'form-label' %><br>
        <%= form.text_area :content, placeholder: "Balance la sauce !! Aller !", class: 'content form-control' %>
    </div>

    <div>
        <%= form.submit "Créer mon Gossip", class: 'btn btn-danger' %>
    </div>
<% end %>


<% if @gossip && @gossip.errors.any? %>
    <p>We couldn't create the gossip because:</p>
    <ul>
        <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>