<div style="display: flex; flex-direction: column; flex-wrap: wrap; align-items: center;">
    <h1><%= @gossip.title %></h1>
    <p><%= @gossip.content %></p>
    <% @comments.each do |comment| %>
        <div class="col">
            <div class="card">
                <div class="card-body home-button" style="flex-direction: column;">
                    <h6><%= comment.content %></h6>
                    <p>Auteur : <%= comment.user.first_name %></p>
                    <%= link_to 'Modifier ce commentaire', edit_gossip_comment_path(@gossip, comment), class: 'btn btn-primary two-button' %>
                    <%= button_to "Supprimer", gossip_comment_path(@gossip, comment), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-secondary" %>
                </div>
            </div>
        </div>
    <% end %>
    <%= form_with(model: [@gossip, Comment.new], local: true) do |f| %>
        <div class="mb-2">
            <%= f.label :content, "Commentaire :", class: 'form-label' %><br>
            <%= f.text_area :content, placeholder: "Lâche du lourd !", class: 'content form-control' %>
        </div>
        <div>
            <%= f.submit "Envoyer", class: 'btn btn-success' %>
        </div>
    <% end %>
    <p>De <%= @gossip.user.first_name %> (<%= link_to @gossip.user.city.name, city_path(@gossip.user.city) %>)</p>
    <p>Créé à : <%= @gossip.created_at.strftime("%d %B %Y") %></p>
    <p><%= link_to "En savoir plus sur l'auteur", user_path(@gossip.user), class: 'btn btn-danger' %></p>
    <%= button_to "Supprimer ce potin", gossip_path(@gossip), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-secondary delete-button" %>
</div>