<h1><%= @gossip.title %></h1>
<p><%= @gossip.content %></p>
<p>De <%= @gossip.user.first_name %> (<%= link_to @gossip.user.city.name, city_path(@gossip.user.city) %>)</p>
<p>Créé à : <%= @gossip.created_at.strftime("%d %B %Y") %></p>
<p><%= link_to "En savoir plus sur l'auteur", user_path(@gossip.user), class: 'btn btn-danger' %></p>